<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ author.name }}</title>
</head>

<body>
    <h1>Author Details</h1>

    <table>
        <tr>
            <th>Name : </th>
            <td>{{ author.name }}</td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>{{ author.email }}</td>
        </tr>
        <tr>
            <th>Age : </th>
            <td>{{ author.age }}</td>
        </tr>
        <tr>
            <th>Created At : </th>
            <td>{{ author.created_at|date:"F d, Y H:i" }}</td>
        </tr>
        <!-- <tr>
            <th>Updated At : </th>
            <td>{{ author.updated_at|date:"F d, Y H:i" }}</td>
        </tr> -->
    </table>

    <br>
    <a href="{% url 'author_list' %}">Back to List</a>
    <a href="{% url 'author_delete' author.id %}">Delete</a>

</body>

</html>