{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Blog Posts</h2>
    <a href="{% url 'blog:blog_create' %}" class="btn btn-primary mb-3">Create New Post</a>

    {% for blog in blogs %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="text-muted small">By: {{ blog.author.name|default:blog.author.user.username }}</p>
            <p class="card-text">{{ blog.content|truncatewords:30 }}</p>
            <a href="{% url 'blog:blog_detail' blog.id %}" class="btn btn-primary">Read More</a>
            {% if user == blog.author.user or user.is_staff %}
            <a href="{% url 'blog:blog_update' blog.id %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'blog:blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
