<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <h1>{{ title }}</h1>
    <ul>
        {% for item in post %}
        <li>
            {{ item.title|upper }}
            <br />
            Content : {{ item.content }}
            <br />
            Published_at: {{ item.published_at|date:"Y-m-d" }}

            <br />
            Author : {{ item.author }}
            <br />
            Status : {{ item.status}}

        </li>


        {% endfor %}
    </ul>
</body>

</html>